@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-itm {
  @apply text-center bg-green-200 border-green-800 px-2 py-2 cursor-pointer text-green-600;
}

.tab-itm:hover {
  @apply bg-green-300 text-green-800;
}

.tab-itm.active {
  @apply bg-green-400 text-green-900;
}

.tab-itm.active:hover {
  @apply bg-green-300 text-green-800;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.nav-menu {
  margin-right: -100vw;
  transition: margin .3s ease;
}

.nav-menu.active {
  @apply mr-0;
}

@screen md {
  .nav-menu {
    transition:none;
    @apply mr-0;
  }
}

.tooltip {
  @apply z-20;
}
.tooltip-arrow{
  @apply z-20;
  position: absolute;
  margin-top: -5px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #9ae6b4 transparent;
  left: calc(50%);
}

.tooltip-inner{
  @apply z-20;
  @apply px-3 py-2;
  @apply text-green-900;
  @apply bg-green-300;
}

@screen sm {
  .msg-body {
    width: 150%;
  }
}
@screen lg {
  .push-left {
    margin-left: -31rem;
  }
}

/* MODAL STYLES
/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  background: rgba(0, 0, 0, 0.6);
}



.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "\2715";
}


.modal__btn {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
  line-height: 1.15;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/**************************\
   Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}